@media (min-width: 1900px) {
    .container {
        max-width: 1750px;
    }
}
@media (min-width: 1900px) {
    .bcontainer {
        max-width: 1150px;
        margin: auto;
    }
}


.contact-item:hover span {
    color: red !important;
    text-decoration: underline !important ; 
}
 
.contact-item:hover a {
    color: red !important;
    text-decoration: underline !important ; 
}

.project-card div {
    transition: height .5s ;
    cursor: pointer;
    background-color: rgba(24, 106, 237, 0.299);
    height: 0;
}
.project-card:hover div{
    height: 100%;
}
.meet-card div {
    cursor: pointer;
    background-color: rgba(24, 106, 237, 0.299);
    height: 100%;
}

  .maincontainer {
    position: relative;
    width: 100%; /* Changed from fixed to relative width */
    max-width: 400px; /* Set a maximum width */
    height: 400px;
    margin: 0 auto; /* Center the container */
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
}

.maincontainer:hover .thecard {
    transform: rotateY(180deg);
}

.thefront, .theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #3ae2f2;
    color: #333;
    border: 2px solid #643EFE;
}

.theback {
    transform: rotateY(180deg);
}

.bttn {
    border: 2px solid #643EFE;
}



